{% extends 'sns/layout.html' %}

{% block title %}Profile{% endblock %}

{% block header %}
<h2 class="display-4 text-primary">{{target_user.username}}</h2>
<!-- システムメッセージ -->
{% if messages %} 
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} 
        class="{{ message.tags }}"
        {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

<p>プロフィールを入力してください。</p>
<form action="{% url 'update_profile' %}{{target_user.id}}/" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">Update</button>
</form>

<p><a href="{% url 'following' %}{{target_user.id}}">フォロー中：{{following_size}}</a> &ensp;<a href="{% url 'followed' %}{{target_user.id}}">フォロワー：{{followed_size}}</a></p>


<table class="table mt-2">
    <tr><th>{{target_user.username}}のmessages</th></tr>
{% for item in contents %}
    <tr><td>
    <p><b>"{{item.owner}}"</b>&ensp;(<a href="{% url 'profile' %}{{item.owner.id}}">prof</a>)&ensp;({{item.pub_date}})</p>
    <p class="my-0">
        {{item.content}}</p>
    {% if item.share_id > 0 %}
    <ul><li class="text-black-50">"{{item.get_share}}"</li></ul>
    {% endif %}
    <br>
    <span class="float-left text-info">
        <a href="{% url 'share_timeline' item.id %}">share</a> {{item.share_count}} &ensp; <a href="{% url 'good' item.id %}">good</a> {{item.good_count}}
    </span>
</td></tr>
{% endfor %}
</table>

<ul class="pagination justify-content-center">
    {% if contents.has_previous %}
    <li class="page-item">
        <a class="page-link" href="{% url 'profile' %}{{target_user.id}}">
            &laquo; first</a>
    </li>
    <li class="page-item">
        <a class="page-link" 
        href="{% url 'profile' %}{{target_user.id}}/{{contents.previous_page_number}}">
            &laquo; prev</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">&laquo; first</a>
    </li>
    <li class="page-item">
        <a class="page-link">&laquo; prev</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link">
        {{contents.number}}/{{contents.paginator.num_pages}}</a>
    </li>
    {% if contents.has_next %}
    <li class="page-item">
        <a class="page-link" 
        href="{% url 'profile' %}{{target_user.id}}/{{contents.next_page_number}}">
            next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link" 
        href="{% url 'profile' %}{{target_user.id}}/{{contents.paginator.num_pages}}">
            last &raquo;</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link">last &raquo;</a>
    </li>
    {% endif %}
</ul>


{% endblock %}
