{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"/>
</head>
<body class="container">
    <div class="col-8 offset-2">
    <nav class="navbar navbar-expand navbar-light" style="background-color:rgb(214, 237, 251);">
    <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
            <b><a class="nav-link" href="{% url 'timeline' %}">timeline</a></b>
        </li>
        <li class="nav-item">
            <b><a class="nav-link" href="{% url 'global_TL' %}">global</a></b>
        </li>
        <li class="nav-item">
            <b><a class="nav-link" href="{% url 'profile' %}{{login_user.id}}">profile</a></b>
        </li>
    </ul>
    <span> User: <span class="h6">{{login_user}}</span> </span>&ensp;/<span>
        <a href="/admin/logout?next=/sns/"> &ensp;logout </a></span>
    </nav>

    <div>{% block header %}{% endblock %}</div>
    <div class="content">{% block content %}{% endblock %}</div>

    <hr>
    </div>
</body>
</html>